body {
  background-color:#2F313A;
}

hr {
  background-image: linear-gradient(270deg,#5C8595,transparent 75%);
  border:0;
  height:5px;
}

#holder {
  background-color:#048063;
  max-width:550px;
  padding:0.5rem 1rem 0.5rem 1rem;
  border-radius:30px;
  margin-top:1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px;
}
#inputs {
  max-width: 500px;
  margin: 2px 2px 2px 2px;
  border-radius: 25px;
  background-color:#5C8595;
  padding:0.75rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px;
}

.form-group {
  margin-bottom:2px;
}

.btn {
  margin-top:2px;
}

#outputs {
  display:none;
  padding-top:1rem;
  margin: 0px 2px 2px 2px;
}

h2 {
  background-color:#5C8595;
  font-size:large;
  max-width: 500px;
  padding:0.5rem;
  border-radius:13px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px;
}

.btn-primary {
  background-color:#895C95;
  border-color:#895C95;
}

.btn-primary:hover {
  background-color:#a178ac;
  border-color:#5C9589;
}

.btn-primary:focus {
  background-color:#895C95;
  border-color:#5C9589;
}